body {
    background-image: url("../img/pattern.jpg");
}

section {
    background-color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

header {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 25px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    text-align: center;
}

#article-list {
    margin: 0 auto;
    padding: 10px;
}

article {
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

footer {
    background-color: #000;
    padding: 1px;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
}